@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.App {
  text-align: center;
}

/* NavBar */
nav {
  background: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: sticky;
  top: 0%;
  z-index: 10;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
}

.links {
  color: whitesmoke;
  cursor: pointer;
  text-decoration: none;
}

/* Footer */
.foo {
  height: 10vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #787676d3;
  color: rgba(22, 21, 21, 0.769);
}

/* Team */
.card {
  display: inline-block;
  padding: 30px;
}

.container{
  user-select: none;
  margin: 100px auto;
  background: #231e39;
  color: #b3b8cd;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}

.cover-photo{
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.profile{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 30px;
  border: 1px solid #1f1a32;
  padding: 7px;
  background: #292343;
}

.profile-name{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.social-links{
	padding-top: 15px;
	display: flex;
	position: center;
  align-items: space-around;
	justify-content:center;
}

.social-links a {
  margin: 10px;
  font-size: 2rem;
  text-align:center;
  display: inline-block;
	color: var(--main-fonts-color);
}

.social-links a i{
	cursor: pointer;
}

/* Features */
h1 {
  padding-top: 90px;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-one {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}

.card1 {
  padding: 5px;
  height: 200px;
  width: 500px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 5px;
  background-color: #2c2222;
  color: rgb(248, 250, 250);
}

.card1one {
  height: 200px;
  width: 500px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 5px;
  background-color: #2c2222;
  color: rgb(248, 250, 250);
}

.card1one img {
  height: 200px;
  width: auto;
  contain: content;
}

/* About */
.abo {
  padding-top: 60px;
}